<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
     hx-boost="true"
     hx-push-url="true">
    <div class="container">
        <a class="navbar-brand"
           href="/partial/sx-user-pass-form.html"
           hx-swap="innerHtml"
           hx-target="#sx-lab-container">SharpeX</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- Content -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Content
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-accordion.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Accordion
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-badge.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-card.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Card
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-carousel.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Carousel
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-list-group.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                List Group
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-placeholder.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Placeholder
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Courses -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-courses.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        Courses
                    </a>
                </li>

                <!-- SC-900 -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-sc900.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        SC-900
                    </a>
                </li>

                <!-- Navigation -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-navigation.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        Navigation
                    </a>
                </li>

                <!-- Feedback -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Feedback
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-alerts.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Alerts
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-progress.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Progress
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-spinner.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Spinner
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-toast.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Toast
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Infini HtmX -->
                <!--<li class="nav-item">
                    <a class="nav-link"
                       href="/partial/htmx-inifi-scroll.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        HtmX
                    </a>
                </li>-->

                <!-- Overlay -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-overlay.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        Overlay
                    </a>
                </li>

                <!-- Controls -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-controls.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        Controls
                    </a>
                </li>

                <!-- Album -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="/partial/sx-album-hero.html"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-target="#sx-lab-container">
                        Album
                    </a>
                </li>

                <!-- Utilities -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Utilities
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-colors.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Colors
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-background.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Background
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-palette.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Palette
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-palette-2.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Palette 2
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Forms -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Forms
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-form-validation.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Validation
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-form-layout.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Layout
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/partial/sx-floating-labels.html"
                               hx-trigger="click"
                               hx-swap="innerHTML"
                               hx-target="#sx-lab-container">
                                Floating Labels
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
