<button class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sxOffcanvas"
        aria-controls="sxOffcanvas">
  Toggle offcanvas
</button>

<div class="offcanvas offcanvas-start" tabindex="-1"
     id="sxOffcanvas"
     aria-labelledby="sxOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sxOffcanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    Content for the offcanvas goes here. You can place just
    about any Bootstrap component or custom elements here.
  </div>
</div>
