<div class="progress" role="progressbar"
     aria-label="25% example"
     aria-valuenow="25"
     aria-valuemin="0"
     aria-valuemax="100">
  <div class="progress-bar" style="width: 25%">25%</div>
</div>
<div class="progress mt-2" role="progressbar"
     aria-label="50% example"
     aria-valuenow="50"
     aria-valuemin="0"
     aria-valuemax="100">
  <div class="progress-bar" style="width: 50%">50%</div>
</div>
<div class="progress mt-2" role="progressbar"
     aria-label="75% example"
     aria-valuenow="75"
     aria-valuemin="0"
     aria-valuemax="100">
  <div class="progress-bar" style="width: 75%">75%</div>
</div>
